@charset "UTF-8";

#dawson-dean-feature-title {
	color: #FF0004;
}

#Khanh-Red {
	color: #FF0004;
}

@media screen{


#Myles-red {
	color: #FF0004;
}

#Ryan-ESCD {
	color: #FF0004;
}

#dawson-dean-subtitle {
    color: #FF0004;
}

#aycox-gatlinburg-title {
	color: #FF0004;
}

#cokerspecialfeaturetitle {
	color: #FF0004;
}

#bautista_antifa_text {
	color: #FF0004;
}

#McKinney-cola-title {
  color: #FF0000;
}

#bass-brexit-title {
	text-shadow: 0px 0px;
	color: #FF0004;
}

#conner_sga_title {
	color: #FF0004;
}

#crews-navyfed-title {
  color: #161B7B;
}
.Khanh-Scrollbar {
	margin-top: -28px;
	margin-right: -28px;
	margin-left: -28px;
	margin-bottom: -28px;
	padding-top: 50px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 50px;
}
.Khanh-Background {
	background-color: #000000;
}
