@charset "UTF-8";

#dawson-dean-feature-title {
	color: #FF0004;
}

#wells_talos {
	color: #FF0004;
}

#Khanh-Red {
	color: #FF0004;
}

#Myles-red {
	color: #FF0004;
}

#Ryan-ESCD {
	color: #FF0004;
}

#Shoemo-football {
    color: #FF0004;
}

#chahine_tacobell-text {
}

#chahine_tacobell_text {
	color: #8A0D0F;
}

#avelar-Holographicphone {
	color: #FF0004;
}

#dawson-dean-subtitle {
    color: #FF0004;
}

#aycox-gatlinburg-title {
	color: #FF0004;
}

#cokerspecialfeaturetitle {
	color: #FF0004;
}

#bautista_antifa_text {
	color: #FF0004;
}

#McKinney-cola-title {
  color: #FF0000;
}

#tyson-red {
	color: #FF0004;
}

#bass-brexit-title {
	text-shadow: 0px 0px;
	color: #FF0004;
}

#conner_sga_title {
	color: #FF0004;
}

#crews-navyfed-title {
  color: #161B7B;
}

.Khanh-Scrollbar {
	margin-top: -28px;
	margin-right: -28px;
	margin-left: -28px;
	margin-bottom: -28px;
	padding-top: 50px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 50px;
}

.Khanh-Background {
	background-color: #000000;
}
  
#tyson-red {
}

#tyson-red {
}

#dubois-orange-title {
	color: #FF0000;
	text-shadow: 0px 0px 7px #FAE999;
}
  
#dubois-orange-subtitle {
	color: #FF0001;
	font-style: normal;
	text-shadow: 0px 0px;
}
  
#dubois-column-background {
	background-color: #929292;
}
  
#dubois-column-title-background {
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,238,238,1.00) 0%,rgba(255,220,220,1.00) 0%,rgba(255,212,212,1.00) 1.56%,rgba(255,212,212,1.00) 1.59%,rgba(255,251,251,1.00) 1.59%,rgba(252,248,248,1.00) 1.59%,rgba(255,251,251,1.00) 2.40%,rgba(113,60,60,1.00) 2.40%,rgba(112,59,59,1.00) 2.40%,rgba(255,0,0,1.00) 9.92%,rgba(255,0,0,1.00) 16.63%,rgba(146,146,146,1.00) 29.07%,rgba(1,0,0,1.00) 29.07%,rgba(255,255,255,1.00) 46.66%,rgba(0,0,0,1.00) 46.66%,rgba(43,43,43,1.00) 48.60%,rgba(215,215,215,1.00) 48.60%,rgba(43,43,43,1.00) 65.82%,rgba(255,255,255,1.00) 68.34%,rgba(127,127,127,1.00) 89.90%,rgba(138,138,138,1.00) 93.06%,rgba(146,146,146,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,238,238,1.00) 0%,rgba(255,220,220,1.00) 0%,rgba(255,212,212,1.00) 1.56%,rgba(255,212,212,1.00) 1.59%,rgba(255,251,251,1.00) 1.59%,rgba(252,248,248,1.00) 1.59%,rgba(255,251,251,1.00) 2.40%,rgba(113,60,60,1.00) 2.40%,rgba(112,59,59,1.00) 2.40%,rgba(255,0,0,1.00) 9.92%,rgba(255,0,0,1.00) 16.63%,rgba(146,146,146,1.00) 29.07%,rgba(1,0,0,1.00) 29.07%,rgba(255,255,255,1.00) 46.66%,rgba(0,0,0,1.00) 46.66%,rgba(43,43,43,1.00) 48.60%,rgba(215,215,215,1.00) 48.60%,rgba(43,43,43,1.00) 65.82%,rgba(255,255,255,1.00) 68.34%,rgba(127,127,127,1.00) 89.90%,rgba(138,138,138,1.00) 93.06%,rgba(146,146,146,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,238,238,1.00) 0%,rgba(255,220,220,1.00) 0%,rgba(255,212,212,1.00) 1.56%,rgba(255,212,212,1.00) 1.59%,rgba(255,251,251,1.00) 1.59%,rgba(252,248,248,1.00) 1.59%,rgba(255,251,251,1.00) 2.40%,rgba(113,60,60,1.00) 2.40%,rgba(112,59,59,1.00) 2.40%,rgba(255,0,0,1.00) 9.92%,rgba(255,0,0,1.00) 16.63%,rgba(146,146,146,1.00) 29.07%,rgba(1,0,0,1.00) 29.07%,rgba(255,255,255,1.00) 46.66%,rgba(0,0,0,1.00) 46.66%,rgba(43,43,43,1.00) 48.60%,rgba(215,215,215,1.00) 48.60%,rgba(43,43,43,1.00) 65.82%,rgba(255,255,255,1.00) 68.34%,rgba(127,127,127,1.00) 89.90%,rgba(138,138,138,1.00) 93.06%,rgba(146,146,146,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,238,238,1.00) 0%,rgba(255,220,220,1.00) 0%,rgba(255,212,212,1.00) 1.56%,rgba(255,212,212,1.00) 1.59%,rgba(255,251,251,1.00) 1.59%,rgba(252,248,248,1.00) 1.59%,rgba(255,251,251,1.00) 2.40%,rgba(113,60,60,1.00) 2.40%,rgba(112,59,59,1.00) 2.40%,rgba(255,0,0,1.00) 9.92%,rgba(255,0,0,1.00) 16.63%,rgba(146,146,146,1.00) 29.07%,rgba(1,0,0,1.00) 29.07%,rgba(255,255,255,1.00) 46.66%,rgba(0,0,0,1.00) 46.66%,rgba(43,43,43,1.00) 48.60%,rgba(215,215,215,1.00) 48.60%,rgba(43,43,43,1.00) 65.82%,rgba(255,255,255,1.00) 68.34%,rgba(127,127,127,1.00) 89.90%,rgba(138,138,138,1.00) 93.06%,rgba(146,146,146,1.00) 100%);
}
  
#dubois-column-color {
	background-image: -webkit-linear-gradient(270deg,rgba(143,143,143,1.00) 0%,rgba(146,146,146,1.00) 0%);
	background-image: -moz-linear-gradient(270deg,rgba(143,143,143,1.00) 0%,rgba(146,146,146,1.00) 0%);
	background-image: -o-linear-gradient(270deg,rgba(143,143,143,1.00) 0%,rgba(146,146,146,1.00) 0%);
	background-image: linear-gradient(180deg,rgba(143,143,143,1.00) 0%,rgba(146,146,146,1.00) 0%);
}

#bug_burger_script {
    color: #143ED2;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: large;
}

#bugburger {
}

#tacobell_script {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #8F070A;
}

#bugburgertitle {
    color: #242FDF;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-weight: bold;
}