@charset "UTF-8";
#dawson-dean-feature-title {
	color: #FF0004;
}
#Myles-red {
	color: #FF0004;
}
#Ryan-ESCD {
	color: #FF0004;
}

#McKinney-cola-title {
  color: #FF0000;
}

#bass-brexit-title {
	text-shadow: 0px 0px;
	color: #FF0004;
}

#conner_sga_title {
	color: #FF0004;
}
#crews-navyfed-title {
  color: #161B7B;
}

